@import "tailwindcss";

@theme inline {
  --breakpoint-m-s: 320px;
  --breakpoint-m-m: 375px;
  --breakpoint-m-l: 425px;

  --breakpoint-t: 768px;

  --breakpoint-l-s: 1024px;
  --breakpoint-l-l: 1440px;

  --color-primary: #0d0d0d;
  --color-secondary: #f2f2f2;
}

@theme {
  --animate-fade: fade 500ms ease-in;
  --animate-float: float 2s ease-in-out infinite alternate;

  @keyframes fade {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }

  @keyframes float {
    0% {
      transform: translateY(0rem);
    }
    100% {
      transform: translateY(1rem);
    }
  }
}

@layer base {
  button {
    cursor: pointer;
    /* animation:; */
  }

  button:hover {
    filter: brightness(105%);
  }

  button:disabled {
    filter: saturate(0);
  }

  button:active {
    filter: brightness(95%);
  }

  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-primary);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
    border-radius: 999rem;
  }
}
