@import "tailwindcss";

@theme inline {
  --breakpoint-m-s: 320px;
  --breakpoint-m-m: 375px;
  --breakpoint-m-l: 425px;

  --breakpoint-t: 768px;

  --breakpoint-l-s: 1024px;
  --breakpoint-l-l: 1440px;

  --color-primary: #0d0d0d;
  --color-secondary: #f2f2f2;
}

@layer base {
  button {
    cursor: pointer;
  }

  button:hover {
    filter: brightness(105%);
  }

  button:disabled {
    filter: saturate(0);
  }

  button:active {
    filter: brightness(95%);
  }
}
